body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: auto;
  height: auto !important; /* Altura ajustada al contenido */
  min-height: 99.8vh; /* Altura mínima del 100% de la ventana */
  border: 1px solid;
}
